<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <h1>Pewdipie Amazing Gaming Chair</h1>
    <button><a href="/description">Description</a></button>
    <button><a href="/features">Features</a></button>
    <button><a href="/specifications">Specifications</a></button>
    

    <!-- Triple hsndlebars is a shorthanded for a router-view-->
    {{{body}}}
    
    <h2>SUSCRIBE TODAY!!!</h2>
    <a href="https://www.youtube.com/user/PewDiePie">BEAT T-SERIES HERE</a>
    <img src="public/images/pewdiepie">
  </body>
</html>
