body {
    background: $bg-color;
    color: $text-color;
    font-size: 14px;
}

button {
    color: $button-color;
    margin: 10px;
    align-content: center;
}

.header {
    background-image: url("background.png");
    background-color: red;
}